<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReportService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQueriesService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IAuthorizationService" />
                <binding name="BasicHttpBinding_ICommandService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ICommonService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IFileService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/SautomServices/ReportService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportService"
                contract="ReportService.IReportService" name="BasicHttpBinding_IReportService" />
            <endpoint address="http://localhost:8000/SautomServices/QueriesService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQueriesService"
                contract="QueriesService.IQueriesService" name="BasicHttpBinding_IQueriesService" />
            <endpoint address="http://localhost:8000/SautomServices/AuthorizationService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthorizationService"
                contract="AuthorizationService.IAuthorizationService" name="BasicHttpBinding_IAuthorizationService" />
            <endpoint address="http://localhost:8000/SautomServices/CommandService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommandService"
                contract="CommandService.ICommandService" name="BasicHttpBinding_ICommandService" />
            <endpoint address="http://localhost:8000/SautomServices/CommonService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommonService"
                contract="CommonService.ICommonService" name="BasicHttpBinding_ICommonService" />
            <endpoint address="http://localhost:8000/SautomServices/FileService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFileService"
                contract="FileService.IFileService" name="BasicHttpBinding_IFileService" />
        </client>
    </system.serviceModel>
</configuration>